* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  /* width: 100%; */
  font-family: 'Open Sans', sans-serif;
  height: 900px;
  background: rgb(2, 0, 36, 1);
  background: radial-gradient(
    circle at center bottom,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 84%,
    rgba(2, 0, 36, 1) 100%
  );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-left: 5px;
  padding-right: 5px;
}

h1 {
  margin: 0;
  height: 135px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: calc(100% / 3);
}

h1 img {
  border: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}

#addBoardForm {
  float: left;
  font-weight: 600;
  color: white;
  padding-top: 66px;
  height: 135px;
}

label {
  /* display: block; */
  font-size: 18px;
}

input[type='text'] {
  font-size: 22px;
  width: 260px;
  border-radius: 5px;
}
button[type='submit'] {
  font-size: 22px;
  border-radius: 5px;
  /* height: 30px; */
}

#header-user {
  display: block;
  margin-top: -42px;
  float: right;
}

button {
  font-size: 20px;
  width: 95px;
  height: 34px;
  border-radius: 5px;
}
