* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  min-width: 300px;
  font-family: 'Open Sans', sans-serif;
  height: 97.93vh;
  background: rgb(2, 0, 36, 1);
  background: radial-gradient(
    circle at center bottom,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 84%,
    rgba(2, 0, 36, 1) 100%
  );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* padding-left: 5px;
  padding-right: 5px; */
  display: flex;
  flex-direction: column;
}

/* @media only screen and (max-width: 500px) {
  body {
    background-color: #403c3b;
    max-width: 480px;
  }
} */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
}

main {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  /* margin-left: -4px; */
}

/* Header settings */

h1 {
  margin: 0;
  display: block;
  width: calc(100% / 3);
}

h1 img {
  border: none;
  height: 85px;
}

@media screen and (max-width: 768px) {
  h1 img {
    content: url('../img/badge.png');
    height: 75px;
    margin: 4px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}

#addBoardForm {
  float: left;
  font-weight: 600;
  color: white;
  padding-top: 66px;
  height: 135px;
}

label {
  /* display: block; */
  font-size: 18px;
}

input[type='text'] {
  font-size: 22px;
  width: 260px;
  border-radius: 5px;
}
button[type='submit'] {
  margin-right: 10px;
}

button {
  font-size: 20px;
  width: 95px;
  height: 34px;
  border-radius: 5px;
}

#nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

#nav .icon {
  margin: 0 5px 0 5px;
}

.addBoardButton {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: no-repeat center url('../img/add-board-button.svg');
}

.addCardButton {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: no-repeat center url('../img/add-list-item.svg');
}

.accountButton {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0px;
  background: no-repeat center url('../img/account-avatar.svg');
}

button.jq-dropdown-open {
  background-color: transparent;
}

button.add-card {
  background-color: transparent;
  margin-right: 10px;
  width: 32px;
  height: 32px;
}

button.collapse-board {
  background-color: transparent;
  margin-left: 10px;
  width: 32px;
  height: 32px;
}

/* Welcome and Signup/Signin */

/* Boards  & Cards */

.edit-item,
.edit-icon,
.edit-card,
.complete-card,
.favorite-card,
.prioritize-card,
.trash-card {
  margin: 0px;
  background-color: transparent;
  width: 40px;
  height: 40px;
}

.invert {
  filter: invert(1);
}

.addCardForm,
.addCardForm::after {
  max-width: 325px;
  display: inline;
}

.flip {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

ul {
  width: 100%;
  padding: 3px;
  padding-inline-start: 3px;
}

li {
  width: 345px;
  list-style: none;
}

.board-container {
  /*display: none !important; /*TODO: REMOVE THIS LINE AFTER DEV */
  padding-left: -0px !important;
  padding-inline-start: 0px;
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  /* padding: 5px; this */
}

.board-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.board-container::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(197, 197, 197, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
/* .board-container::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0.4);
} */

.board {
  flex: 0 0 auto;
  margin: 5px;
  /* min-height: min-content; */
  height: auto;
  max-height: 725px;
  min-width: 296px;
  max-width: 360px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.75);
  overflow-y: auto;
}

@media only screen and (max-width: 500px) {
  .board-container {
    flex: 1 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
  }

  .board {
    min-height: min-content;
    max-height: min-content;
    overflow-y: visible;
    width: 100%;
    margin: 16px auto 16px auto;
  }
}

ul {
  margin-left: 0px;
  /* padding-inline-start: 15px; */
}

.board::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.board::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.board::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(197, 197, 197, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
/* .board::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
} */

.board-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.board h2 {
  display: inline-flex;
  margin: 10px 0 10px 0;
}

.board .collapse {
  display: inline-flex;
  width: 32px;
  height: 32px;
  background: no-repeat center url('../img/collapse.svg');
}

.board .add-item {
  display: inline-flex;
  margin: 10px;
  width: 32px;
  height: 32px;
  background: no-repeat center url('../img/add-list-item.svg');
}

.board h2 {
  text-align: center;
}

.card {
  overflow: hidden;
  font-size: 22px;
  line-height: 25px;
  padding: 10px;
  height: 65px;
  width: 92%;
  background: rgba(255, 255, 255, 1);
  border: 2px solid grey;
  border-radius: 5px;
  margin: 12px auto;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  display: flex;
  justify-content: space-between;
  /* cursor: move; */
}

/* .card.over {
  border: 2px dashed #000;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
/*-khtml-user-drag: element;
  -webkit-user-drag: element;
} */

.card .breakword {
  display: inline-block;
  word-break: break-word;
  max-width: 17ch;
  margin-top: -5px;
  white-space: pre-wrap;
}

.edit-item-icon {
  width: 40px;
  height: 40px;
  background: url('../img/edit.svg');
  float: right;
}

.card.favorite {
  background: #ffd57c;
}

.card.complete {
  background: #7cffa8;
}

.card.priority {
  background: #ff7c7c;
}

/* .card > .edit-menu { */
.edit-menu {
  width: 110%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ff5489;
  margin: -10px;
  /* display: none; */
}

.edit-icon {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background-color: white;
  background: no-repeat center url('../img/edit.svg');
}
.card > .edit .edit:before {
  color: white;
}

.complete-icon {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: no-repeat center url('../img/complete.svg');
}

.favorite-icon {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: no-repeat center url('../img/favorite.svg');
}

.priority-icon {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: no-repeat center url('../img/priority.svg');
}

.trash-icon {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: no-repeat center url('../img/trash.svg');
}

/* FORM STYLES */

form {
  padding: 20px 20px 20px 20px;
}

label {
  float: left;
  color: #fff;
  display: block;
  margin: 10px 0 10px 0;
  font-size: 24px;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  background-color: #ffffff;
  color: #333;
  font-size: 24px;
  width: 96%;
  padding: 4px 6px;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

input[type='submit']:hover,
a:hover,
button:hover {
  cursor: pointer;
}

input[type='submit'],
a.add,
button,
a.show {
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
  border: none;
  padding: 0px;
  margin-top: 10px;
  /* font-family: 'Oswald', 'Futura', sans-serif; */
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

input[type='submit'],
a.add,
.buttonRight {
  float: right;
}

input[type='text']:focus,
input[type='password']:focus,
textarea:focus {
  border: 1px solid #fff;
  background-color: #fff;
  outline: none;
}

input[type='submit']:hover,
a.add:hover,
a.show:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

fieldset {
  border: none;
}

legend {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  display: inline-block;
  /* margin: 0 0 23px 0; */
}

#welcome {
  display: block;
  padding: 0 20px 20px 20px;
  font-size: 24px;
  text-align: center;
}

#welcome p {
  display: block;
}

.welcomeBtn {
  display: inline-block;
  padding: 0 10px 0 10px;
}

#welcome,
#signup,
#confirmation,
#signin {
  display: block;
  text-align: center;
  max-width: 480px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.js-hidden {
  display: none;
}

.jq-dropdown.jq-dropdown-tip:not(.addCardForm) {
  margin-top: 10px !important;
}

.jq-dropdown .jq-dropdown-menu,
.jq-dropdown .jq-dropdown-panel:not(.card-panel) {
  background: rgba(100, 100, 100, 0.5) !important;
  padding: 10px;
}

.jq-dropdown .jq-dropdown-menu label,
.jq-dropdown .jq-dropdown-panel label {
  font-size: unset;
  float: unset;
  margin: -5px 0px 5px 0px;
}

.jq-dropdown .jq-dropdown-menu form,
.jq-dropdown .jq-dropdown-panel form {
  padding: unset;
}

#nav button {
  margin: 0px 10px;
  background-color: transparent;
  width: 60px;
  height: 60px;
}

.signout {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 100%;
}

.card-panel {
  min-width: 160px;
  max-width: 360px;
  list-style: none;
  background: #969696 !important;
  border: solid 1px #636363;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow: visible;
  padding: 4px 0;
  margin: 0;
}

.slide {
  display: none;
}

/*  TODO: REMOVE THIS AFTER MVP */
.board-header h2 {
  margin: 10px;
}
